// VARIABLES AND MIXINS

$color-white: #ffffff
$color-black: #000000
$color-gray: #E7EBF0

$main-background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%)
$section-left-background: #F5F5F5
$section-right-background: #F8FBFF

$font-color: #2E3A59
$font-color-light: #A6ABBD

$btn-color: #00C368
$btn-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4)
$foto-shadow: 0 8px 15px rgba($color-black, 0.5)

@mixin links-button
    border: none
    border-radius: .8rem
    background-color: $btn-color
    box-shadow: $btn-shadow

@mixin display
    display: flex
    justify-content: space-between
    align-items: flex-start

// COMMON STYLES 

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    scroll-behavior: smooth

body
    font-weight: 400
    font-size: 1.6rem
    font-family: 'Roboto', sans-serif
    color: $font-color
    background-color: $color-white
    position: relative

main
    overflow: hidden

img
    height: auto
    display: block

h1, h2
    font-size: 4rem
    font-weight: 700
    line-height: 4.7rem
    margin: 0

a
    color: $font-color-light
    font-size: 1.6rem
    line-height: 2.4rem
    text-decoration: none
    transition: .3s
    cursor: pointer

p, blockquote
    font-weight: 400
    font-size: 1.6rem
    line-height: 150%
    text-transform: none

ul, ol
    list-style: none

.container
    max-width: 1750px
    margin: 0 auto

// HEADER

.main-header
    padding: 3rem 0 3.7rem

    &__button
        margin-left: auto

.main-nav
    display: flex
    align-items: center

.logo
    margin-right: 3%

.navigation
    display: flex
    justify-content: space-between
    align-items: center
    width: 24%

    &__link
        padding: .4rem 2.4rem
        border-radius: 8px

        &:hover
            @include links-button
            color: $color-white

.button
    @include links-button
    padding: .4rem 2.1rem
    line-height: 2.4rem
    color: $color-white

// MAIN

main
    background: $main-background

.line
    width: 18.4rem
    height: .4rem
    background-color: $btn-color

// SECTION OPTIONS

.background
    position: absolute
    z-index: 2

    &-left
        // top: 36.4rem
        // left: 26.3rem
        top: 37%
        left: 4%

    &-right
        // top: -2rem
        // right: 18rem
        top: 3%
        right: 0

.mobile__img
    display: none

.options
    text-align: center
    position: relative
    padding: 7.5rem 0 9.3rem

    &__line
        margin: 0 auto 2.2rem

    &__header
        text-transform: uppercase
        margin-bottom: 6.8rem

    &__logo
        display: block
        transition: 3s ease

        svg
            fill: $font-color

        &:hover svg
            fill: #00C368

    &__info
        line-height: 1.9rem

    &__center
        position: relative
        width: 100%
        height: 30rem
        box-sizing: border-box
        overflow: hidden

        img
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -40%)

.square
    margin-bottom: 9%

.rectangle
    margin-bottom: 5%

.width
    width: 19rem

table
    display: table
    table-layout: auto
    width: 50%
    border-collapse: collapse
    margin: 0 auto
    position: relative
    z-index: 4

td
    width: fit-content
    text-align: center
    vertical-align: middle
    padding: 2rem

.slider
    display: none

    img
        margin: 0 auto 22px

.bx-wrapper
    display: none

// SECTION ABOUT

.about .container
    max-width: 77rem

.about
    display: flex
    position: relative
    z-index: 3

    &__left,
    &__right
        width: 50%
        height: auto
        padding: 10rem 0 9.3rem

    &__left
        background-color: $section-left-background

        &_line
            margin: 0 auto 1.8rem

    &__right
        background-color: $section-right-background

        &_line
            margin: 0 auto 1.2rem

        &_subtitle
            text-align: center
            margin-bottom: 1rem

    &__header
        margin: 0 auto
        text-align: center

        &_left
            width: 95%
            margin-bottom: 4.8rem

        &_right
            width: 60%
            line-height: 150%
            margin-bottom: 1rem

    &__review
        @include display

.client-foto
    width: 187px
    height: 187px
    // background-image: url(../img/face.jpg)
    // background-position: -15px -6px
    background: url(../img/face.jpg) -14px -6px/115% no-repeat
    border: none
    border-radius: 100px
    box-shadow: $foto-shadow

blockquote
    width: 65%
    position: relative
    margin-bottom: 13.4rem

    p
        margin-bottom: 1rem

    cite
        font-weight: 700
        line-height: 1.9rem

    &::before,
    &::after
        content: ""
        position: absolute
        width: 40px
        height: 26px
        background-image: url(../img/quotes.svg)
        background-repeat: no-repeat

    &::before
        top: -3px
        left: -62px

    &::after
        bottom: -5px
        right: -7px
        transform: rotate(180deg)

.client__review
    @include display

.client__review .client-foto
    width: 97px
    height: 97px
    background: url(../img/face.jpg) -7px -3px/111px 111px no-repeat

.client__review blockquote
    width: 30%
    margin-bottom: 0

    &::before,
    &::after
        display: none

.accordion__item
    margin-bottom: 1rem

.accordion__item.active
    height: 153
    border-bottom: 1px solid $color-gray

    & .accordion__header
        border-bottom: none

    & .accordion__header::before
        transform: rotate(180deg)

    & .accordion__header__title
        color: $btn-color

.accordion__header
    display: flex
    align-items: center
    border-bottom: 1px solid $color-gray
    position: relative

    &::before
        content: ""
        position: absolute
        top: 25px
        right: 5px
        width: 20px
        height: 15px
        background: url(../icon/arrow.svg) center/cover no-repeat
        transition: .3s

    &__title
        font-weight: 700
        font-size: 2.4rem
        line-height: 2.8rem
        transition: color .3s
        cursor: pointer

    &__img
        margin-right: 2.4rem
        padding: 1rem

.accordion__text
    padding: 0 3rem 1.6rem
    margin-left: 5.5rem
    line-height: 1.9rem

    &__wrapper
        overflow: hidden
        height: 0
        transition: height .3s

// MEDIA QUERIES

@media (max-width: 1600px)

    .container
        width: 1370px

    html
        font-size: 61%

    .background-right
        // top: 5%

        img
            width: 488px

    .background-left
        // top: 40%

        img
            width: 342px

    table
        width: 65%

    .about .container
        max-width: 65rem

@media (max-width: 1400px)

    .container
        width: 1170px

    html
        font-size: 60%

    .background-right img
        width: 388px

    .background-left img
        width: 242px

    table
        width: 75%

    .about .container
        max-width: 60rem

    .client-foto
        width: 13rem
        height: 13rem
        background: url(../img/face.jpg) -10px -4px/116% no-repeat

    .about__review blockquote
        width: 63%
        position: relative
        margin-bottom: 8.5rem

    .client__review blockquote
        width: 28%

@media (max-width: 1199px)

    .container
        width: 960px

    html
        font-size: 60%

    .logo img
        width: 218px

    h1, h2
        font-size: 3rem

    p, blockquote
        font-size: 1.4rem

    table
        width: 85%

        svg
            display: inline-block
            width: 70px

    table tr:nth-child(1) td:nth-child(4) svg
        width: 90px

    .options__center img
        width: 400px

    .client-foto
        width: 100px
        height: 100px
        background: url(../img/face.jpg) -8px -4px/116% no-repeat

    .about .container
        max-width: 50rem

    .client__review .client-foto
        width: 70px
        height: 70px
        background: url(../img/face.jpg) -5px -2px/80px 80px no-repeat

@media (max-width: 991px)

    .container
        width: 720px

    html
        font-size: 55%

    h1, h2
        font-size: 2.5rem

    .options__center img
        width: 300px

    table
        width: 95%

        td
            padding: 1rem

        svg
            display: inline-block
            width: 50px

    table tr:nth-child(1) td:nth-child(4) svg
        width: 70px

    .about__review blockquote::before
        top: -10px
        left: -50px

    .about .container
        max-width: 40rem

    .accordion__header__title
        font-size: 2rem
        width: 75%

    .client-foto
        width: 80px
        height: 80px
        background: url(../img/face.jpg) -6px -4px/116% no-repeat

    .client__review blockquote
        width: 22%

    .accordion__text
        margin-left: 6rem

@media (max-width: 767px)

    .container
        width: 540px

    html
        font-size: 50%

    p
        font-size: 16px

    main
        background: $color-white

    .navigation,
    .button,
    .rellax,
    .background,
    .options .line,
    table
        display: none

    .logo
        margin-right: 0
        margin-bottom: 50px

    .main-nav
        justify-content: center

    .mobile__img
        display: block

        img
            margin: 0 auto

    .options,
        padding: 0

    .main-header
        padding: 11px 0 0

    h1, h2
        font-size: 24px
        line-height: 28px

    .about__header_right
        line-height: 28px
        margin-bottom: 20px

    .accordion__header__title,
    .accordion__text
        line-height: 19px

    .accordion__text
        margin-left: 52px

    .bx-wrapper,
    .slider
        display: block

    .bx-wrapper
        box-shadow: unset !important
        border: unset !important
        margin-bottom: 110px !important

    .bx-viewport
        height: 170px !important

    .bx-wrapper .bx-prev
        left: 67px !important
        background: url(../icon/arrow-left.svg) no-repeat 0 0 !important

    .bx-wrapper .bx-next
        right: 67px !important
        background: url(../icon/arrow-left.svg) no-repeat 0 0 !important
        transform: rotate(180deg)

    .bx-wrapper .bx-controls-direction .bx-prev
        margin-top: 100px !important

    .bx-wrapper .bx-controls-direction .bx-next
        margin-top: 88px !important

    .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus
        background: $font-color-light !important

    .bx-wrapper .bx-pager.bx-default-pager a
        background: $color-gray !important

    .about
        flex-direction: column-reverse

    .about__left,
    .about__right
        width: 100%

    .about .container
        max-width: 60rem

    .about__right
        padding: 20px 0 29px

    .about__left
        padding: 27px 0 36px
        background-color: $color-white

    .about__review
        align-items: center
        flex-direction: column
        position: relative
        margin-bottom: 300px

        blockquote
            text-align: center
            line-height: 150%
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            padding: 80px 16px 15px
            box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24)
            border-radius: 32px
            position: absolute
            width: auto
            top: 45px

            &::before,
            &::after
                background-image: url(../img/quotes-grey.svg)
                top: 25px
                left: 15px

            &::after
                left: 422px

            p
                margin-bottom: 20px

            cite
                font-size: 16px
                line-height: 150%

    .client-foto
        width: 97px
        height: 97px
        margin-bottom: 30px

@media (max-width: 575px)

    .container
        width: 100%

    html
        font-size: 45%

    .slider__item p
        width: 70%
        margin: 0 auto

    .about__right_subtitle
        margin-bottom: 31px

    .about__header_right
        width: 85%

    .accordion__header__img
        display: none

    .accordion__header::before
        top: 12px

    .accordion__header__title
        font-size: 16px
        margin-bottom: 15px

    .accordion__text
        margin-left: -22px

    .accordion__item:nth-child(5) .accordion__header:nth-child(1)
        border: unset

    .about .container
        max-width: 40rem

    .about__review blockquote::after
        left: 230px
