// VARIABLES AND MIXINS

$color-white: #ffffff
$color-black: #000000

$main-background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%)
$section-left-background: #F5F5F5
$section-right-background: #F8FBFF

$font-color: #2E3A59
$font-color-light: #A6ABBD

$btn-color: #00C368
$btn-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4)

@mixin links-button
    border: none
    border-radius: .8rem
    background-color: $btn-color
    box-shadow: $btn-shadow

@mixin display
    display: flex
    justify-content: space-between
    align-items: flex-start

// COMMON STYLES 

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    scroll-behavior: smooth

body
    font-size: 1.6rem
    font-family: 'Roboto', sans-serif
    color: $font-color
    background-color: $color-white
    position: relative

main
    overflow: hidden

img
    height: auto
    display: block

h1, h2
    font-size: 4rem
    font-weight: 700
    line-height: 4.7rem
    margin: 0

a
    color: $font-color-light
    font-size: 1.6rem
    line-height: 2.4rem
    text-decoration: none
    transition: .3s
    cursor: pointer

p, span, blockquote
    font-weight: 400
    font-size: 1.6rem
    line-height: 150%
    text-transform: none

ul, ol
    list-style: none

i
    font-size: 5.5rem
    transition: .3s

    &:hover
        color: $btn-color

.container
    max-width: 175rem
    margin: 0 auto

// HEADER

.main-header
    padding: 3rem 0 3.7rem

    &__button
        margin-left: auto

.main-nav
    display: flex
    align-items: center

.logo
    margin-right: 3%

.navigation
    display: flex
    justify-content: space-between
    align-items: center
    width: 24%

    &__link
        padding: .4rem 2.4rem
        border-radius: .8rem

        &:hover
            @include links-button
            color: $color-white

.button
    @include links-button
    padding: .4rem 2.1rem
    line-height: 2.4rem
    color: $color-white

// MAIN

main
    background: $main-background

.line
    width: 18.4rem
    height: .4rem
    background-color: $btn-color

// SECTION OPTIONS

.background
    position: absolute
    z-index: 2

    &-left
        top: 36.4rem
        left: 26.3rem

    &-right
        top: -2rem
        right: 18rem

.options
    text-align: center
    position: relative
    padding: 7.5rem 0 9.3rem

    &__line
        margin: 0 auto 2.2rem

    &__header
        text-transform: uppercase
        margin-bottom: 6.8rem

    &__logo
        display: block
        transition: 3s ease

        svg
            fill: $font-color

        &:hover svg
            fill: #00C368

    &__info
        line-height: 1.9rem

    &__center
        position: relative
        width: 100%
        height: 30rem
        box-sizing: border-box
        overflow: hidden

        img
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -40%)

.square
    margin-bottom: 9%

.rectangle
    margin-bottom: 5%

.width
    width: 19rem

table
    display: table
    table-layout: auto
    width: 50%
    border-collapse: collapse
    margin: 0 auto

td
    width: fit-content
    text-align: center
    vertical-align: middle
    padding: 2rem

// SECTION ABOUT

.about .container
    max-width: 77rem

.about
    display: flex
    position: relative
    z-index: 3

    &__left,
    &__right
        width: 50%
        height: auto
        padding-top: 10rem

    &__left
        background-color: $section-left-background

        &_line
            margin: 0 auto 1.8rem

    &__right
        background-color: $section-right-background

        &_line
            margin: 0 auto 1.2rem

    &__header
        margin: 0 auto
        text-align: center

        &_left
            width: 95%
            margin-bottom: 4.8rem

        &_right
            width: 60%
            line-height: 150%
            margin-bottom: 2.7rem

    &__review
        @include display

.client-foto
    width: 18.7rem
    height: 18.7rem
    // background-image: url(../img/face.jpg)
    // background-position: -15px -6px
    background: url(../img/face.jpg) -1.4rem -.6rem/115% no-repeat
    border: none
    border-radius: 10rem
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5)
    
blockquote
    width: 65%
    position: relative
    margin-bottom: 13.4rem

    p
        margin-bottom: 1rem

    cite
        font-weight: 700
        line-height: 1.9rem

    &::before,
    &::after
        content: ""
        position: absolute
        width: 4rem
        height: 2.6rem
        background-image: url(../img/quotes.svg)

    &::before
        top: -.3rem
        left: -6.2rem

    &::after
        bottom: -.5rem
        right: -.7rem
        transform: rotate(180deg)

.client__review
    @include display

.client__review .client-foto
    width: 9.7rem
    height: 9.7rem
    background: url(../img/face.jpg) -.7rem -.3rem/11.1rem 11.1rem no-repeat

.client__review blockquote
    width: 30%
    
    &::before,
    &::after
        display: none
        
